.navbar{
    margin-top:1vh;
    background-color:#4D229A;
    transition: .2s ease;
    opacity:.8
}
.navbar:hover{
    opacity:1;
}
.nav-item:hover, .nav-item:focus, .nav-item:active{
    outline:none;
}
.nav-link{
    transition: .2s ease;
}
.nav-link:hover{
    opacity:1!important;
    color:white!important;
}