<!--Scrolling indicator-->
<div class="header">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div> 
</div>
<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#doc-section">Documentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#about-section">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/filelist">My files</a>
        </li>
    </ul>
</nav>
<div class = "bg-circles">
    <div class="bg-circle"></div>
    <div class="bg-circle"></div>
    <div class="bg-circle"></div>
    <div class="bg-circle"></div>
    <div class="bg-circle"></div>
</div>
<div class = "bg-edges">
    <div class="bg-edge"></div>
    <div class="bg-edge"></div>
    <div class="bg-edge"></div>
    <div class="bg-edge"></div>
    <div class="bg-edge"></div>
</div>