{% extends 'layout.html' %}


{% block body %}
    <div class="jumbotron mt-5">
        <h1 class = "display-1 text-center">Documentation</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas nibh eget erat sodales vestibulum. Phasellus cursus ultrices sem, quis tristique turpis accumsan in. Maecenas a diam a quam dapibus pulvinar eu id ipsum. Vestibulum id porta ex. Praesent imperdiet ornare magna, quis egestas diam varius nec. Nunc porttitor ipsum pellentesque turpis commodo consequat. Quisque congue dolor et felis aliquet venenatis eu vel diam. Nam vehicula odio at diam molestie pulvinar. Donec dictum eu nibh at eleifend. Nunc mollis condimentum pharetra. Nullam rutrum vitae quam ut lobortis. Nam ultricies blandit justo, imperdiet gravida nibh placerat quis. Nullam non tristique mi. Sed interdum dapibus pulvinar.</p>
    </div>
    

{% endblock %}